#AES

AES-128/imc.log
AES-128/mdv.log
AES-128/xrun.history
AES-128/xrun.key
AES-128/xrun.log
AES-128/waves.shm/
AES-128/xcelium.d/

#adder

adder/imc.log
adder/mdv.log
adder/xrun.log
adder/xrun.key
adder/xrun.history
adder/xcelium.d/
adder/waves.shm/
adder/cov_work/
adder/backend/

#cv32e40p

cv32e40p/example_tb/core/xrun.log
cv32e40p/example_tb/core/xrun.key
cv32e40p/example_tb/core/xrun.history
cv32e40p/example_tb/core/xcelium.d/
cv32e40p/example_tb/core/waves.tcl
cv32e40p/example_tb/core/waves.shm/
cv32e40p/example_tb/core/trace_core_00000000.log
